body{
    background-color: black;
    color: white;
}

#count-down {
    position: relative;
    top: 3cm;
    left: 14cm;
    padding-top: 2cm;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    border: 4px solid whitesmoke;
    border-radius: 50%;
    height: 3cm;
    width: 5cm;
  }
  
  #result {
    position: relative;
    top: 4cm;
    left: 11cm;
    font-size: xx-large;
    font-weight: bolder;
  }