body{
    background-color: aquamarine;
}

form{
    border: 1px solid black;
}
 h2{
    text-align: center;
 }
 input{
    width: 100px;
    height: 20px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 1px ;


 }
 label{
    font-weight: bold;

 }
 .fields1{
    text-align: center;
 }
 .fields2{
    margin: 10px;
    padding: 60px;
    display: flex ;
    border: 1px solid black;

 }
 .fields4{
    border: 1px solid black;
    margin-left: 20px ;
    width: 400px;
    height: 150px;
 }
 .fields3{
    border: 1px solid black;
    margin-left: 30% ;
    display: inline;
    width: 1000px;
 }
 ul{
    list-style-type: none;
 }
 li{
    margin-top: 20px;
 }
 li > input{
    margin-left: 20px;
    position: absolute;
    width: 100px;
 }
 button{
    margin: 10px;
    font-weight: bold;
    font-size: large;
    background: rgb(151, 151, 209);

 }